<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.teacher.dao.OperateDao">
	  <insert  id="addGZ" parameterType="Operate">
	    INSERT INTO operate(uid,tsign,obj) VALUE(#{uid},0,#{obj})
	  </insert>
	  
	   <insert  id="addSC" parameterType="Operate">
	    INSERT INTO operate(uid,tsign,obj) VALUE(#{uid},1,#{obj})
	  </insert>
	  
	  <insert  id="addDZ" parameterType="Operate">
	    INSERT INTO operate(uid,tsign,obj) VALUE(#{uid},2,#{obj})
	  </insert>
	  
	  <delete id="deleteGZ" parameterType="Operate">
	    DELETE FROM operate WHERE uid=#{uid} and tsign=0 and obj=#{obj}
	  </delete>
	  
	  <delete id="deleteSC" parameterType="Operate">
	    DELETE FROM operate WHERE uid=#{uid} and tsign=1 and obj=#{obj}
	  </delete>
	  
	  <delete id="deleteDZ" parameterType="Operate">
	    DELETE FROM operate WHERE uid=#{uid} and tsign=2 and obj=#{obj}
	  </delete>
	  
	  <select  id="searcho" resultType="Operate" parameterType="Operate">
	    select  uid,tsign,obj from operate where uid=#{uid} and tsign=#{tsign}
	  </select>
	  
	  <select  id="searchtpo" resultType="Operate" parameterType="Operate">
	    SELECT uid,tsign,obj FROM operate WHERE obj=(SELECT uid FROM pinf WHERE uname=(SELECT uname FROM tinf WHERE tid=#{obj})) AND tsign=0 AND uid=#{uid}
	  </select>
	  <select  id="searchuid" resultType="Operate" parameterType="Operate">
	   SELECT uid FROM pinf WHERE uname=(SELECT uname FROM tinf WHERE tid=#{obj})
	  </select>
	  
	   <select  id="searchto" resultType="Operate" parameterType="Operate">
	    SELECT uid,tsign,obj FROM operate WHERE uid=#{uid} AND tsign=1 AND obj=#{obj}
	  </select>
	  <select  id="searchg" resultType="Operate" parameterType="Operate">
	    SELECT uid,tsign,obj FROM operate WHERE uid=#{uid} AND tsign=0 AND obj=#{obj}
	  </select>
	  <select  id="searchtt" resultType="Operate" parameterType="Operate">
	    SELECT uid,tsign,obj FROM operate WHERE uid=#{uid} AND tsign=2 AND obj=#{obj}
	  </select>
</mapper>
