<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.teacher.dao.SuggestionDao">

	<insert id="add" parameterType="Suggestion">
		INSERT INTO suggestion(tid,scontent,stime)VALUES(#{tid},#{scontent},#{stime})
	</insert>
	
	<select id="queryAll" resultType="Suggestion">
		select id,tid,scontent,stime from suggestion
	</select>
	
	<select id="getById" resultType="Suggestion">
		select id,tid,scontent,stime from suggestion where id=#{id}
	</select>

</mapper>