<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.teacher.dao.IUserDao">
	<select id="getUserByUid" resultType="User">
		SELECT uid,uname,PASSWORD,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum FROM pinf WHERE uid=#{uid}
	</select>
	
	<select id="getUserByName" resultType="User">
		SELECT uid,uname,PASSWORD,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum FROM pinf WHERE uname=#{uname}
	</select>
	
	<delete id="delete" parameterType="User">
		DELETE FROM pinf WHERE uname=#{uname}
	</delete>
	
	<select id="searchAttention" resultType="User">
		select uid,uname,tel,sex,birth,signature from pinf where uid IN (SELECT obj FROM operate WHERE uid =#{uid} AND tsign=0)
	</select>
	
	<select id="searchFans" resultType="User">
		select uid,uname,tel,sex,birth,signature from pinf where uid IN (SELECT uid FROM operate WHERE obj =#{uid} AND tsign=0)
	</select>
	
	<insert id="add" parameterType="User">
		INSERT INTO pinf(uname,PASSWORD,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum)VALUES(#{uname},#{password},#{flag},#{ukey},#{tel},#{sex},#{birth},#{signature},#{unum},#{tnum},#{fnum},#{snum})
	</insert>
	
	<update id="update" parameterType="User">
		update pinf set tel=#{tel},sex=#{sex},
		signature=#{signature}, birth =#{birth}where uname=#{uname}
	</update>
	
	<update id="updatepwd" parameterType="User">
		update pinf set password=#{password} where uname=#{uname}
	</update>
	
	<update id="updateflag" parameterType="User">
		update pinf set flag=#{flag} where uid=#{uid}
	</update>
	
	<update id="updateukey" parameterType="User">
		update pinf set ukey=#{ukey} where uid=#{uid}
	</update>
	
	<update id="updateunum" parameterType="User">
		update pinf set unum=#{unum} where uid=#{uid}
	</update>
	
	<update id="updatetnum" parameterType="User">
		update pinf set tnum=#{tnum} where uid=#{uid}
	</update>
	
	<update id="updatefnum" parameterType="User">
		update pinf set fnum=#{fnum} where uid=#{uid}
	</update>
	
	<update id="updatesnum" parameterType="User">
		update pinf set snum=#{snum} where uid=#{uid}
	</update>
	
	<select id="queryAll" resultType="User">
		select uid,uname,password,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum from pinf
	</select>
	
	<select id="searchUser" resultType="User" parameterType="User">
		select uid,uname,password,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum from pinf
		<where>
			<if test="uname!=null">
			 	and uname like #{uname}
			</if>
			<if test="ukey!=null">
				and ukey=#{ukey}
			</if>
			<if test="flag!=null">
				and flag=#{flag}
			</if>
		</where>
	</select>
	<select id="searchUser2" resultType="User" parameterType="User">
		select uid,uname,password,flag,ukey,tel,sex,birth,signature,unum,tnum,fnum,snum from pinf
		<where>
			<if test="uname!=null">
			 	and uname like #{uname}
			</if>
			<if test="ukey!=null">
				and ukey=#{ukey}
			</if>
			<if test="flag!=null">
				and flag=#{flag}
			</if>
		</where>
	</select>
	
</mapper>