<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.teacher.dao.AdminDao">
	<select id="getAdminByAnum" resultType="Admin">
		SELECT anum,apwd FROM admins WHERE anum=#{anum}
	</select>

	<update id="updatepwd" parameterType="Admin">
		update admins set apwd=#{apwd} where anum=#{anum}
	</update>
	

	
</mapper>